/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
*{
	box-sizing:border-box;
	padding:0;
	margin:0;
	max-width:100%;
}

.div_one nav{
	display: flex;
	width: 100%;
}
nav a{
	text-decoration: none;
	letter-spacing: 3px;
	padding: 0 2%;
	margin: 10px;
}
nav .logo{
	display: flex;
	width: 20%;
	margin: 3%;
}

.long-div{
	display: flex;
	width: 80%;
}
.small_div{
	text-align: center;
	vertical-align: middle;
	padding: 50px;
	width: 45%;
}
.big_image{
	width: 45%;
	margin: 5px;
	padding: 5px;
}

.small_div h1{
	font-size: 50px;
}
span{
	border: 1px solid black;
	padding: 5px;
}
	.box{
		display: inline-block;
		width: 31%;
		margin: 15px;
	}
.middle-img{
	display: block;
	width: 90%;
	
}

.sec_one img{
	text-align: right;
}
footer {
	margin: 15px;
}
#copy_right{
	text-align: center;
} 











